@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
    background-color: #3e5f38;
}
a{
    color: rgb(113, 223, 155);
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
     display: flex;
    justify-content: space-between;

align-items: center;
z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li:hover a,
.navbar ul li.Active a
 {
    color: #e22020;
}

.Home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
.Home-info h1{
font-size: 55px;
}
.Home-info h2{
    font-size: 32px;
    margin-top: -10px;
}
.Home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}
.Home-info .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 10PX 30PX;
    background: #aacfb3;
    border: 2PX solid #7CF03D;
    border-radius:40PX ;
    box-shadow: 0 0 10PX #7CF03D;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}
.btn:hover{
    background: transparent;
    color: #7CF03D;
    box-shadow: none;
}
.Home-info .btn-sci .sci{
    margin-left: 20px;
}
.Home-info .btn-sci .sci a{
    display: inline-block;
    padding: 8px;
    border: 2px solid #7CF03D;
    border-radius: 50%;
    font-size: 20px;
    color: #7CF03D;
    margin: 0 8px;
}
.Home-info .btn-sci .sci a:hover{
    background: #7CF03D;
    color: #1f242d;
    box-shadow: 0 0 10px #7CF03D;
}